.App {
  text-align: center;
  margin-top: 120px;
}

.all-dogs {
  /* Review flex box */
  display: flex;   
  justify-content: space-evenly;
}

.dog-card {
  border: 2px solid rgb(110, 22, 22);
  padding: 10px 20px;
  width: 100px;
  cursor: crosshair;
  transition: 1.0s;
  border-radius: 5px;
}

.dog-card:hover {
  transform: scale(1.1);
}
